*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: rgb(17, 17, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-up{
    width: 100px;
    height: 1.5rem;
    margin-left: 46rem;
    border-radius: 40px 40px 0 0;
}

.btn-down{
    width: 100px;
    height: 1.5rem;
    margin-left: 46rem;
    border-radius: 0 0 40px 40px;
}

#container-carousel{
    width: 60%;
    height: 400px;
    
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

img.big-img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-article{
    width: 20%;
    height: 100%;
    
    border-radius: 3px;
}

article{
    height: calc(( 100% / 5) - .2rem);
    
}

article img.mini-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}